@font-face {
    font-family: hipch;
    src: url(./hipch___.ttf) format(truetype);
}

@font-face {
    font-family: mitra;
    src: url(./MitraB.ttf) format(truetype);
}

@font-face {
    font-family: mahsa;
    src: url(./BMahsa.ttf) format(truetype);
}

@font-face {
    font-family: vazir;
    src: url(./Vazir-Medium.ttf) format(truetype);
}